@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: 'Gilroy';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Gilroy-Regular.woff) format('woff'),
    url(../fonts/Gilroy-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Gilroy-Medium.woff) format('woff'),
    url(../fonts/Gilroy-Medium.woff2) format('woff2');
}

