.trafalgar {
    background: url("../img/trafalgar/figure-background.svg") 0 15px no-repeat,
                url("../img/trafalgar/dots.svg") calc(100% - 350px) 550px no-repeat;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.trafalgar-container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.trafalgar-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.56;
    color: #000000;
    text-align: center;
}

.trafalgar-title::after {
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    margin: 26px auto 33px;
}

.trafalgar-text {
    width: 952px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #7D7987;
    margin-bottom: 80px;
}

.trafalgar-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 34px;
    margin-bottom: 70px;
}

.trafalgar-cards li {
    padding: 45px 37px;
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.trafalgar-cards a {
    display: grid;
    grid-template-rows: 90px 30px 1fr;
    gap: 25px;
}

.trafalgar-cards img {
    max-height: 90px;
}

.trafalgar-cards h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
}

.trafalgar-cards p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #7D7987;
}

.trafalgar-button-container {
    text-align: center;
}

.trafalgar-button {
    display: inline-block;
    min-width: 200px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
    color: #458FF6;
    background-color: white;
    border: 1px solid #458FF6;
    border-radius: 55px;
    padding: 20px;
    text-align: center;
}
