.wedding {
    font-family: 'Gilroy', sans-serif;
    width: 1172px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 136px;
    font-weight: normal;
}

.wedding-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.18;
    text-align: center;
    color: #000000;
    margin-bottom: 23px;
}

.wedding-text {
    font-size: 18px;
    line-height: 1.35;
    text-align: center;
    color: #000000;
    margin-bottom: 64px;
}

.wedding-text::after {
    content: '”';
}

.wedding-text::before {
    content: '“';
}

.wedding-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.wedding-list li {
    width: 270px;
    transition: all 0.3s;
}

.wedding-list li:hover {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.wedding-list li:hover figcaption {
    background-color: white;
}

.wedding-list img {
    width: 100%;
}

.wedding-list figcaption {
    background-color: #FAFAFA;
    padding: 24px;
    transition: all 0.3s;
}

.wedding-list h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: black;
    margin-bottom: 74px;
}

.wedding-list a {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.37;
    color: #000000;
}

.wedding-list a::after {
    margin-left: 5px;
    content: '›';
}